<div class="container py-1">
  <div class="row">
    <div class="col-12 text-center">
      <button [disabled]="!doneLoading" class="btn btn-primary my-2" (click)="generateMessages()">generate some messages</button>
    </div>
  </div><div class="row">
    <div class="col-6 text-center">
      <h3 class="my-2">unread message count: {{ unseenMessageCount$ | async }}</h3>
    </div>
    <div class="col-6 text-center">
      <h3 class="my-2">all message count: {{ messageCount$ | async }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>messages:</h4>
      <ul>
        <li *ngFor="let message of messages$ | async" (click)="selectMessage(message.id)">
          <p [ngClass]="{'font-weight-bold': !message.seen}">{{ message.id }} : {{message.subject}}</p>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h4>selected message:</h4>
      <div class="card" style="width: 18rem;" *ngIf="!!selectedMessage">
        <img [src]="selectedMessage.iconSrc" class="card-img-top mx-auto mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ selectedMessage.subject }}</h5>
          <p class="card-text">{{ selectedMessage.body }}</p>
          <button (click)="deleteMessage(selectedMessage.id)" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
